/* .header-call-wrap{
    display: none;
}

.navbar{
    display: none;
}

.icon-menu{
    display: block;
}

.navbar-brand img {
    max-width: 100px;
}

.header-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
} */


