/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .slibar-contact{
        margin-top: 36px;
    }

    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}      

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}